body {
  margin: 0;
  padding: 0;
  font-size: 16px
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  box-sizing: border-box;
  background-color: #212121
}

.appTable {
  max-width: 100vh;
  width: 100%;
  display: flex
}

.appTable input {
  color: white;
  padding: 0 0.5rem;
  font-size: 5rem;
  margin: 3rem 0 1rem 0;
  text-align: end;
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.appTable input:focus {
  background: none;
  border: none;
}

.appButtons {
  width: 100%;
  height: 100%;
}

.calculator-buttons {
  box-sizing: border-box;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 8px;
  padding: 0.5rem
}

.calculator-button {
  border-radius: 50px;
  font-size: 2rem;
  color: white;
  background-color: #3b3b3b;
  border: none
}

.zero {
  grid-column: 1 / span 2
}

.operator, .equal {
  background-color: #eb8d00;
}

.clear, .percent, .backspace {
  background-color: #9ddaf9;
  color: black
}